body {
    
    background-size:cover;
    height:650px;
   
    background-image:url(Images/495147615pointinghclighthm.jpg);
    background-repeat:no-repeat;
}
.
{
     margin:0%;
    padding:0%;
    z-index: 1;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 32px;
    width: 39px;
}

#panel
{  
    height:450px;
    width:400px;
    opacity:0.4;
   
    box-sizing:border-box; 
     position:absolute;
    top: 72px;
    left: -362px;
}
#panel1
{
     padding:0%;
     margin-left:450px;
    margin-top:80px;
    position:absolute;
    top: -89px;
    left: 363px;
    margin-right: 0%;
    margin-bottom: 0%;
}
#txtb
{
    margin-left:50px;
    margin-top:30px;
    height:30px;
    width:300px;
    z-index: 1;position: absolute;
    left: 448px;
    top: 151px;
    
}
h1
{
    margin-left:120px;
    margin-top:50px;
    z-index: 1;
    left: 372px;
    top: 58px;
    position: absolute;
    height: 36px;
    width: 879px;
}
#log1
{
    margin-left:50px;
    margin-top:30px;
    height:35px;
    width:300px;
    text-align:;
    border-radius:10px;    
    font-size:15px;
    background-color:#157DEC;
    color:white;
    padding:0%; 
}
a
{
    margin-left:50px;
    margin-top:20px;

}

p
{
     margin-top:10px;
     margin-left:50px;
}
#reg
{
    margin-left:50px;
    height:30px;
    width:300px;
    text-align:;
    border-radius:10px;    
}
.row
{
    left:500px;
    position:absolute;
    width:500px;
}
th
{
    font-size:large;
        color:white;
        text-align:center;
}
tr,td
{
    font-size:medium;
    color:white;
    text-align:center;
    height:30px;
    
}
