<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="Health_careConnectionString" connectionString="Data Source=LAPTOP-H80H2T9Q;Initial Catalog=Health_care;Persist Security Info=True;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
